
* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}

body {
  margin: 0;
  font-family:  'Raleway', sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  max-width: 70em;
  margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
  content: '';
  display: block;
  clear: both;
}

/* Column System */

[class^=column-] {
  width: 100%;
  margin-top: 1em;
}

[class^=column-]:first-child {
  margin-top: 0;
}

.column-1 {
  width: 33.333333%;
  float: left;
}

@media (min-width: 40rem)  {

  [class^=column-] {
    float: left;
    padding: 0 .5em;
    margin-top: 0;
  }

  [class^=column-]:first-child {
    padding-left: 0;
  }

  [class^=column-]:last-child {
    padding-right: 0;
  }

  .column-3 {
    width: 50%;
  }

  .column-1 {
    width: 16.6666%;
  }
}

/* typography */

h1 {
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 0;
}

p {
  margin-top: 0;
  line-height: 1.5;
}

p:last-of-type {
  margin-bottom: 0;
}

.title {
  line-height: 1.75;
  font-size: 2.5rem;
  margin-bottom: 1.5em;
  font-weight: 900;
  margin-top: 1em;

}

.title span {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.25em;
  text-transform: uppercase;


}

.title-call-to-action {
  margin: 0 0 .5em;
}

.unstyled-list {
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.ttext {
  font-size: .75em;
  font-weight: 200;
  letter-spacing: 0.225em;
  text-transform: uppercase;
}

.p-ed {
  font-size: .9em;
  font-weight: 200;
  letter-spacing: 0.225em;
  text-transform: uppercase;
}
@media (min-width:60rem ) {

  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .title{
    font-size: 3.7rem;
  }
}

/* Button */

.button {
  display: inline-block;
  font-size: 1.15rem;
  text-decoration: none;
  text transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .5em 1.75em;
}

@media (min-width: 60rem) {
  .button {
    font-size: 1.5rem;
  }
}

.button-small {
  font-size: .7rem;
  font-weight: 700;
}

.button-accent {
  color:white;
  border-color: #DD9B10;
}

.button-accent:hover,
.button-accent:focus {
  background: #DD9B10;
  color: #232323

}

.button-dark {
  color:#232323;
  border-color: #232323;
}

.button-dark:hover,
.button-dark:focus {
  background: #232323;
  color: white;

}
/* Header============== */

header {
  position: absolute;
  margin-top: 1em;
  left: 0;
  right: 0;
  margin:1em;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

nav li {
  width: 45px; /* 45px works */
  height: 45px; /* 45px works */
  display: inline-block;
  margin: 1em;
}

nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .5rem;
  color: #FFF;
}


nav a:hover,
nav a:focus {
  color: #DDD;
}

@media (min-width:60rem ) {
  .logo{
    float: left;

  }

  nav{
    float: right;
  }
}

/* Home-Hero */

.home-hero {
  background-image: url(../img/hero-bg.jpg);
  padding: 10em 0;
  color: #FFF;
  background-size: cover;
  background-position: center;

}

@media (min-width: 60rem) {
  .home-hero {
    height: 100vh;
    padding-top: 35vh;
  }
}

/* Hero-home ===========================*/

.home-about-textbox {
  background-color: #232323;
  padding: 3.8em;
  width: 100vw;
  margin-left: -2.5vw;
  outline: 2px solid #DD9B10;
  outline-offset: -2.5em;
  color: #FFF;
  position: relative;
}

.home-about-textbox h1 {
  color: #DD9B10;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: .75em;
  background: #232323;
  padding: 0 .145em;

}

@media (min-width: 10rem) {
  h1 {
    font-size: 1.9rem;
  }
  .home-about-textbox {
    padding: 5.5em;
  }

@media (min-width: 25rem) {
  h1 {
    font-size: 2rem;
  }

  .home-about-textbox {
    padding: 5.9em;
  }

  .home-about-textbox h1 {
    top: .6em;
    padding: 0 .325em;
  }
}

@media (min-width: 60rem) {
  h1 {
    font-size: 2.5rem;
  }

  .home-about {
    background-image: url(../img/sanfrancisco.jpg);
    padding-bottom: 10em;
    background-repeat: no-repeat;
  }

  .home-about-textbox {
    width: 50%;
    padding: 7em;
    outline-offset: -3.75;
    margin-left: -2.5%;
    top: 3em;
    text-align: left;
    box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
  }

  .home-about-textbox h1 {
    top: .75em;
    left: 6rem;
    transform: translateX(0);
  }

}

/* Portfolio */
hr {
    width: 50%;
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: .9em;
    padding: 0 0.25em;
    background: white;
}

.portfolio {
  margin: 3em 0 0;
}

.port-item {
  position: relative;
  margin: 0;
}

.port-item img {
  display: block;
}

.port-description {
  position: absolute;
  z-index: 100;
  bottom: 0em;
  left: 0em;
  right: 0em;
  color: white;
  background: rgba(0,0,0,.6);
  padding-bottom: 2em;
}

.port-description p {
  margin: 1em;
}

@media (min-width: 37rem) {
  .port-item {
    width: 50%;
    float: left;
  }
}

@media (min-width: 60rem) {
  .port-item {
    width: 33.3333334%;
    overflow: hidden;

  }
  .port-description {
    transform: translateY(150%);
  }

  .port-item:hover .port-description {
    transform: translateX(0%);
  }
}
/* Call to action --------------------------------------*/

.call-to-action {
  background-color: #DD9B10;
  padding: 6em 0;
}

.about-div {
  position: flex;
  text
}

.about {
  font-size: 3em;
}

/* Footer ------------------------------------------- */

footer {
  background: #232323;
  color: #fff;
  text-align: left;
  padding: 5em 0;
}

.tech {
  font-size: 23px;
  font-weight: 800;
  letter-spacing: 0.225em;
  text-transform: uppercase;
}

#footer .copyright li {
  transform: translateY(3em);
  text-align: center;
  position: relative;
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  letter-spacing: 0.225em;
  list-style: none;
  padding-top: 5em;
  text-transform: uppercase;
}

/* Images ------------------------------------------------------*/

.img-git {
  transition: all 0.5 ease;
  border-radius: 15px;
  /* background-color: white; */
  object-fit: cover;
  transform: translateY(-7px);
  width: 100%; /* 5 em works */
  height: 100%; /* 3 em works */
}
/* .img-git:hover {
  border-radius: 25px;
  background-color:grey ;
} */

.img-linkedin {
  box-sizing: border-box;
  border-top: -3px solid #fff;
  transition: all 0.5 ease;
  border-radius: 50px;
  /* background-color: white; */
  object-fit: cover;
  width: 100%; /* width: 3em;  */
  height: 4.599em;  /* height: 3.599em; */
  transform: translateY(-2px);
}

/* .img-linkedin:hover {
 border-radius: 10%;
 background: pink;
} */

.img-youtube {
  object-fit: cover;
  transform: translateY(11.3px);
  width: 100%; /* 6em works  */
  height: 6.5em; /* 6.5em works */
}

.img-cartoon{
  padding: .7em;
  width: 18%;
  height: 33%;
  border-radius: 50%;
}

/* Modal ---------------------------------------------*/

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top:0;
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease;
}
.modal-content {
  width: 500px;
  height: auto;
  background-color: #1d242a;
  color: #fff;
  text-align: center;
  position: relative;
  border-radius: 5%;
  border-style: solid;
  border-color: white;
}

.modal-btn {
  transform: translateY(-7px);
  background-color: #b3b3b3;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
  font-size: 13px;
}

::placeholder {
  color: white;
}

input {
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: #6E6867;
  height: 40px;
  width: 70%;
  margin: .7em auto;
  /* border-bottom: 2px solid red; */
}

.message {
  background-color: #6E6867;
  color: white;
  font-size: 18px;
  width: 80%;
  height: 200px;
}

.modal-btn:hover {
  background-color: black;
  color: blue;
  border: 2px solid blue;
  cursor: pointer;
}

.close {
  position: absolute;
  top:0;
  right: .32em;
  font-size: 1.75em;
  transform: rotate(45deg);
  cursor: pointer;
}
